<p align="center">
  <img src="header.jpg" width="100%">
</p>


<div style="text-align: center;">
    <strong style="display: block; margin-bottom: 10px;">Group P</strong> 
    <table style="margin: 0 auto; border-collapse: collapse; border: 1px solid black;">
        <tr>
            <th style="border: 1px solid white; padding: 8px;">Name</th>
            <th style="border: 1px solid white; padding: 8px;">Student ID</th>
        </tr>
        <tr>
            <td style="border: 1px solid white; padding: 8px;">Beatriz Monteiro</td>
            <td style="border: 1px solid white; padding: 8px;">20240591</td>
        </tr>
        <tr>
            <td style="border: 1px solid white; padding: 8px;">Catarina Nunes</td>
            <td style="border: 1px solid white; padding: 8px;">20230083</td>
        </tr>
        <tr>
            <td style="border: 1px solid white; padding: 8px;">Margarida Raposo</td>
            <td style="border: 1px solid white; padding: 8px;">20241020</td>
        </tr>
        <tr>
            <td style="border: 1px solid white; padding: 8px;">Teresa Menezes</td>
            <td style="border: 1px solid white; padding: 8px;">20240333</td>
        </tr>
    </table>
</div>

### üîó Table of Contents <a id='table-of-contents'></a>
1. [Introduction](#introduction)  
2. [Business Understanding](#business-understanding)  
3. [Data Understanding](#data-understanding)  
4. [Data Preparation](#data-preparation)  
5. [Modeling](#modeling)  
6. [Evaluation](#evaluation)  
7. [Conclusion](#conclusion)  

---

### <span style="background-color:#235987; padding:5px; border-radius:5px;"> üìå Introduction <a id='introduction'></a>

This project follows the **CRISP-DM** methodology to conduct a monthly sales forecast of the smart infrastructure business unit of Siemens. 


#### Montlhy Sales Forecast

<p style="margin-bottom: 50px;"> This case study focuses on ... </p>

**Market Data** 
| Features                                      | Feature Description |
|-----------------------------------------------|---------------------|
| *MAB_ELE_PRO156*                              |  |
| *MAB_ELE_SHP156*                              |  |
| *MAB_ELE_PRO250*                              |  |
| *MAB_ELE_SHP250*                              |  |
| *MAB_ELE_PRO276*                              |  |
| *MAB_ELE_SHP276*                              |  |
| *MAB_ELE_PRO380*                              |  |
| *MAB_ELE_SHP380*                              |  |
| *MAB_ELE_PRO392*                              |  |
| *MAB_ELE_SHP392*                              |  |
| *MAB_ELE_PRO756*                              |  |
| *MAB_ELE_SHP756*                              |  |
| *MAB_ELE_PRO826*                              |  |
| *MAB_ELE_SHP826*                              |  |
| *MAB_ELE_PRO840*                              |  |
| *MAB_ELE_SHP840*                              |  |
| *MAB_ELE_PRO1100*                             |  |
| *MAB_ELE_SHP1100*                             |  |
| *RohiBASEMET1000_org*                         |  |
| *RohiENERGY1000_org*                          |  |
| *RohiMETMIN1000_org*                          |  |
| *RohiNATGAS1000_org*                          |  |
| *RohCRUDE_PETRO1000_org*                      |  |
| *RohCOPPER1000_org*                           |  |
| *WKLWEUR840_org*                              |  |
| *PRI27840_org*                                |  |
| *PRI27826_org*                                |  |
| *PRI27380_org*                                |  |
| *PRI27250_org*                                |  |
| *PRI27276_org*                                |  |
| *PRI27156_org*                                |  |
| *PRO28840_org*                                |  |
| *PRO281000_org*                               |  |
| *PRO28756_org*                                |  |
| *PRO28826_org*                                |  |
| *PRO28380_org*                                |  |
| *PRO28392_org*                                |  |
| *PRO28250_org*                                |  |
| *PRO28276_org*                                |  |
| *PRO27840_org*                                |  |
| *PRO271000_org*                               |  |
| *PRO27756_org*                                |  |
| *PRO27826_org*                                |  |
| *PRO27380_org*                                |  |
| *PRO27392_org*                                |  |
| *PRO27250_org*                                |  |
| *PRO27276_org*                                |  |

- **Production index** is an economic indicator that measures the output quantity of a country's industrial sector. In this case the base year is 2010, meaning **if the production index >100, then production decreased, compared to 2010**. 


**Sales Data**
| Features                                      | Feature Description |
|-----------------------------------------------|---------------------|
| *DATE*                                       |   |
| *Mapped_GCK*                                 |   |
| *Sales_EUR*                                  |   |

<b style="background-color:#A9A9A9; padding:5px; border-radius:5px; display: inline-block; margin-top: 50px;">CRISP-DM</b>

<ul style="margin-bottom: 30px;">
    <li><u>Business Understanding</u>: Defining objectives, assessing resources, and project planning.</li>
    <li><u>Data Understanding</u>: Collecting, exploring, and verifying data quality.</li>
    <li><u>Data Preparation</u>: Selecting, cleaning, constructing, integrating, and formatting data to ensure it is ready for analysis.</li>
    <li><u>Modeling</u>: Selecting and applying various modeling techniques while calibrating their parameters to optimal values.</li>
    <li><u>Evaluation</u>: Select the models which are the best performers and evaluate thoroughly if they align with the business objectives. </li>
    <li><u>Deployment</u>: Bridge between data mining goals and the business application of the finalized model.</li>
</ul>

<hr style="margin-top: 30px;">

In [2]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
#compose a pallete to use in the vizualizations
pal_novaims = ['#003B5C','#003B5C','#003B5C','#003B5C','#003B5C']
pastel_color = sns.utils.set_hls_values(pal_novaims[1], l=0.4, s=0.3)

### <span style="background-color:#235987; padding:5px; border-radius:5px;"> üìå Business Understanding <a id='business-understanding'></a>

##### Click [here](#table-of-contents) ‚¨ÜÔ∏è to return to the Index.
---

The **Business Understanding** phase of the project entails the comprehension of the background leading to the project, as well as the business goals and requirements to be achieved. 

<b style="background-color:#A9A9A9; padding:5px; border-radius:5px;">Primary Business Objective</b> : 


<b style="background-color:#A9A9A9; padding:5px; border-radius:5px;">Plan</b> :

### <span style="background-color:#235987; padding:5px; border-radius:5px;"> üìå Data Understanding</span> <a id='data-understanding'></a>

- **[Data Loading and Description](#data-loading-and-description)**  
- **[Data Types](#Data-TypesDU)**
- **[Univariate EDA: Descriptive Summary](#Descriptive-Summary)**
- **[Univariate EDA: Missing values](#missing-valuesDU)**  
- **[Inconsistencies](#inconsistenciesDU)**  
- **[Feature Engineering](#feature-engineeringDU)**  
- **[Univariate EDA: Data Visualization](#univariate-vizualization)**  
    - **Numerical Variables:**  
        - [Numeric variables: Histograms](#hist)
        - [Outliers Analysis: Box-Plots](#box)
    - **Categorical Variables**  
        - [Categorical variables: Bar Plots](#bar)
        - [Categorical variables: Geographic Map](#GeographicMap)
- **[Bivariate EDA: Data Visualization](#Bivariate-Vizualization)**  
   - [Numeric-Numeric: Correlations](#NNCorrelations)
   - [Numeric-Categorical: Correlations](#NCCorrelations)
   - [Categorical-Categorical: Cross-tabulations](#CCCross-tabulations)
- **[Multivariate EDA: Duplicates](#Multivariate)**
   - [Old Segmentation Vs. All](#old-segmentation)
   - [Duplicates](#duplicatesdu)  
- **[Market Basket Analysis](#MBA)**


##### Click [here](#table-of-contents) ‚¨ÜÔ∏è to return to the Index.
---

#### <span style="background-color:#235987; padding:5px; border-radius:5px;">**Data Loading and Description**</span> <a id='data-loading-and-description'></a>  
_This section provides an overview of the dataset, including its structure, size, and general characteristics._  

##### Click [here](#table-of-contents) ‚¨ÜÔ∏è to return to the Index.

In [5]:
df_market = pd.read_excel('Data/Case2_Market data.xlsx', sheet_name="Original Values", index_col=0, header=2)
df_market.head()

,MAB_ELE_PRO156,MAB_ELE_SHP156,MAB_ELE_PRO250,MAB_ELE_SHP250,MAB_ELE_PRO276,MAB_ELE_SHP276,MAB_ELE_PRO380,MAB_ELE_SHP380,MAB_ELE_PRO392,MAB_ELE_SHP392,MAB_ELE_PRO756,MAB_ELE_SHP756,MAB_ELE_PRO826,MAB_ELE_SHP826,MAB_ELE_PRO840,MAB_ELE_SHP840,MAB_ELE_PRO1100,MAB_ELE_SHP1100,RohiBASEMET1000_org,RohiENERGY1000_org,RohiMETMIN1000_org,RohiNATGAS1000_org,RohCRUDE_PETRO1000_org,RohCOPPER1000_org,WKLWEUR840_org,PRI27840_org,PRI27826_org,PRI27380_org,PRI27250_org,PRI27276_org,PRI27156_org,PRO28840_org,PRO281000_org,PRO28756_org,PRO28826_org,PRO28380_org,PRO28392_org,PRO28250_org,PRO28276_org,PRO27840_org,PRO271000_org,PRO27756_org,PRO27826_org,PRO27380_org,PRO27392_org,PRO27250_org,PRO27276_org
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2004m2,16.940704,16.940704,112.091273,83.458866,82.623037,79.452532,124.289603,86.560493,109.334010,110.495272,91.221862,89.987275,111.353812,73.601265,107.601400,79.240230,97.122911,80.098530,54.039811,44.123338,48.747945,87.076974,39.639458,36.623832,1.2646,78.969864,80.757423,93.020027,NaN,93.230453,NaN,102.491722,97.597374,97.100000,106.191977,116.790276,110.890034,118.274109,80.829010,117.723991,NaN,81.100000,120.706516,141.510864,106.161262,102.077057,85.913200
2004m3,23.711852,23.711852,136.327976,106.168192,100.556582,97.012918,143.411662,106.344544,140.884616,144.686166,85.866287,79.883583,127.558608,84.047595,110.187364,98.619024,113.783904,96.015929,54.666162,47.588957,49.256157,87.192705,42.592034,39.931055,1.2262,79.673569,80.962135,93.540268,NaN,93.335678,NaN,105.627480,113.224892,91.195116,121.625075,139.288391,141.176853,148.121841,102.130104,119.220779,NaN,76.690307,138.309550,152.880234,140.288741,117.225685,97.670815
2004m4,24.435235,24.435235,117.791806,92.007646,89.653203,84.932358,129.083828,95.579673,105.853579,102.655769,85.622508,79.740802,108.732297,73.026027,108.166564,89.774031,101.715199,85.167236,54.872715,47.779013,49.423751,91.379923,42.650637,39.134854,1.1985,80.337639,80.757423,93.852425,NaN,93.440903,NaN,103.484955,100.169090,93.793535,104.965505,125.289566,105.648765,125.482231,90.961426,117.441124,NaN,71.552403,115.557330,137.796875,106.271197,105.335777,87.253983
2004m5,23.708115,23.708115,109.002541,85.696486,86.880571,82.372794,135.590391,100.087039,101.864777,100.305285,85.378729,79.598021,110.645200,74.591883,108.425887,87.463813,101.275727,84.485767,51.230356,53.590898,46.468392,99.044520,47.517121,36.278433,1.2007,80.798828,80.757423,93.852425,NaN,93.546127,NaN,103.643944,99.581436,96.391954,105.885359,131.988998,101.990361,116.649750,88.082901,117.899216,NaN,66.414500,119.269534,143.860535,101.608710,96.616508,84.675552
2004m6,27.009138,27.009138,133.785737,106.641482,99.010814,95.108740,136.424935,110.889719,120.332920,119.616380,85.134950,79.455239,122.020960,82.343346,110.569933,97.364496,112.057197,96.963294,52.876331,50.799575,47.803913,98.636267,44.967605,35.657380,1.2138,80.913490,80.552711,93.956467,NaN,93.440903,NaN,106.062668,109.277710,98.990373,118.252278,132.988922,122.136575,143.248734,100.978699,119.499107,NaN,61.276596,128.849416,144.315308,116.655248,118.458710,95.401802

In [6]:
df_market.tail()

,MAB_ELE_PRO156,MAB_ELE_SHP156,MAB_ELE_PRO250,MAB_ELE_SHP250,MAB_ELE_PRO276,MAB_ELE_SHP276,MAB_ELE_PRO380,MAB_ELE_SHP380,MAB_ELE_PRO392,MAB_ELE_SHP392,MAB_ELE_PRO756,MAB_ELE_SHP756,MAB_ELE_PRO826,MAB_ELE_SHP826,MAB_ELE_PRO840,MAB_ELE_SHP840,MAB_ELE_PRO1100,MAB_ELE_SHP1100,RohiBASEMET1000_org,RohiENERGY1000_org,RohiMETMIN1000_org,RohiNATGAS1000_org,RohCRUDE_PETRO1000_org,RohCOPPER1000_org,WKLWEUR840_org,PRI27840_org,PRI27826_org,PRI27380_org,PRI27250_org,PRI27276_org,PRI27156_org,PRO28840_org,PRO281000_org,PRO28756_org,PRO28826_org,PRO28380_org,PRO28392_org,PRO28250_org,PRO28276_org,PRO27840_org,PRO271000_org,PRO27756_org,PRO27826_org,PRO27380_org,PRO27392_org,PRO27250_org,PRO27276_org
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2021m12,310.763183,310.763183,100.565744,134.589504,118.103281,149.364286,94.006826,150.482735,127.771735,131.029703,106.704029,104.819189,101.273544,NaN,107.040766,148.590371,123.076659,150.046922,125.207030,112.372958,116.715183,236.488368,92.188708,126.761240,1.1304,128.511261,NaN,113.309631,108.182510,115.748863,98.106200,105.736748,134.598755,102.277530,90.350055,103.191399,136.975506,112.791885,129.188248,109.624107,132.281006,114.326241,121.065762,72.915611,109.005151,80.763306,97.773956
2022m1,235.956129,235.956129,85.743503,108.156320,94.550610,120.353403,86.851008,101.258277,110.460181,110.823532,103.499260,101.701570,95.003541,NaN,111.052133,129.565798,103.199827,120.338095,133.219393,121.309886,125.229641,196.911140,106.173052,129.829146,1.1314,131.628510,NaN,115.390617,111.037476,117.853386,98.280171,110.894371,117.489883,100.305236,85.444170,92.292313,117.861377,90.558372,92.343117,111.364670,122.236023,108.999212,112.324119,74.355736,95.369065,77.944954,98.599052
2022m2,235.956129,235.956129,90.603540,117.715770,103.987916,129.383676,106.583758,120.956538,117.879631,118.300232,100.294492,98.583952,98.458412,NaN,116.336327,138.560330,113.500635,131.500126,138.905572,131.273215,131.176501,197.523679,118.348203,131.963648,1.1342,133.342178,NaN,116.431107,112.057098,118.905647,98.714158,117.168167,124.627762,98.332942,89.021378,113.290565,124.710859,97.766502,102.820961,114.688400,127.373421,103.672183,115.557330,91.182419,103.950687,79.001831,106.128059
2022m3,329.413367,329.413367,107.843548,136.858720,121.308119,151.201314,124.637966,153.645142,152.000561,156.400634,97.089723,95.466333,121.993915,NaN,117.654038,165.926217,133.133010,158.055622,149.890871,163.186834,141.283339,271.079906,142.200872,135.782207,1.1019,136.153778,NaN,117.471596,112.362991,119.852684,99.021554,118.910912,149.375229,96.360648,109.155949,134.288818,160.954233,114.720810,122.049515,115.164093,152.452942,98.345154,145.254965,102.475998,133.743932,96.704582,119.948433
2022m4,267.373145,267.373145,87.698110,116.528738,99.522205,127.022869,103.556690,128.733305,114.262328,115.012049,NaN,NaN,95.266502,NaN,116.961047,NaN,112.902215,134.935510,146.090998,153.188945,138.094143,243.436030,130.835430,134.859685,1.0819,137.531616,NaN,118.408043,113.280655,121.220627,98.857087,119.385483,128.285706,NaN,84.728728,111.090744,120.098810,91.979698,98.675873,112.158089,134.843353,NaN,114.359844,86.255684,102.361680,80.763306,101.074341

In [7]:
df_market.shape

(219, 47)

In [8]:
df_market.info()

<class 'pandas.core.frame.DataFrame'>
Index: 219 entries,  2004m2 to  2022m4
Data columns (total 47 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   MAB_ELE_PRO156          219 non-null    float64
 1   MAB_ELE_SHP156          219 non-null    float64
 2   MAB_ELE_PRO250          219 non-null    float64
 3   MAB_ELE_SHP250          219 non-null    float64
 4   MAB_ELE_PRO276          219 non-null    float64
 5   MAB_ELE_SHP276          219 non-null    float64
 6   MAB_ELE_PRO380          219 non-null    float64
 7   MAB_ELE_SHP380          219 non-null    float64
 8   MAB_ELE_PRO392          219 non-null    float64
 9   MAB_ELE_SHP392          219 non-null    float64
 10  MAB_ELE_PRO756          218 non-null    float64
 11  MAB_ELE_SHP756          218 non-null    float64
 12  MAB_ELE_PRO826          219 non-null    float64
 13  MAB_ELE_SHP826          201 non-null    float64
 14  MAB_ELE_PRO840          219 non-null    float64
 15  MAB_ELE_SHP840          218 non-null    float64
 16  MAB_ELE_PRO1100         219 non-null    float64
 17  MAB_ELE_SHP1100         219 non-null    float64
 18  RohiBASEMET1000_org     219 non-null    float64
 19  RohiENERGY1000_org      219 non-null    float64
 20  RohiMETMIN1000_org      219 non-null    float64
 21  RohiNATGAS1000_org      219 non-null    float64
 22  RohCRUDE_PETRO1000_org  219 non-null    float64
 23  RohCOPPER1000_org       219 non-null    float64
 24  WKLWEUR840_org          219 non-null    float64
 25  PRI27840_org            219 non-null    float64
 26  PRI27826_org            201 non-null    float64
 27  PRI27380_org            219 non-null    float64
 28  PRI27250_org            184 non-null    float64
 29  PRI27276_org            219 non-null    float64
 30  PRI27156_org            196 non-null    float64
 31  PRO28840_org            219 non-null    float64
 32  PRO281000_org           219 non-null    float64
 33  PRO28756_org            218 non-null    float64
 34  PRO28826_org            219 non-null    float64
 35  PRO28380_org            219 non-null    float64
 36  PRO28392_org            219 non-null    float64
 37  PRO28250_org            219 non-null    float64
 38  PRO28276_org            219 non-null    float64
 39  PRO27840_org            219 non-null    float64
 40  PRO271000_org           208 non-null    float64
 41  PRO27756_org            218 non-null    float64
 42  PRO27826_org            219 non-null    float64
 43  PRO27380_org            219 non-null    float64
 44  PRO27392_org            219 non-null    float64
 45  PRO27250_org            219 non-null    float64
 46  PRO27276_org            219 non-null    float64
dtypes: float64(47)
memory usage: 82.1+ KB

In [9]:
missing_values = df_market.isnull().sum()

features_with_missing_values = missing_values[missing_values > 0]

features_with_missing_values

MAB_ELE_PRO756     1
MAB_ELE_SHP756     1
MAB_ELE_SHP826    18
MAB_ELE_SHP840     1
PRI27826_org      18
PRI27250_org      35
PRI27156_org      23
PRO28756_org       1
PRO271000_org     11
PRO27756_org       1
dtype: int64

In [10]:
df_market.describe().T

,count,mean,std,min,25%,50%,75%,max
MAB_ELE_PRO156,219.0,138.303637,78.883209,16.940704,68.477740,133.507690,198.473934,329.413367
MAB_ELE_SHP156,219.0,138.303637,78.883209,16.940704,68.477740,133.507690,198.473934,329.413367
MAB_ELE_PRO250,219.0,104.431918,18.918529,50.756680,93.613505,102.736556,114.090851,152.743402
MAB_ELE_SHP250,219.0,105.316814,12.762209,64.420676,97.452819,106.012166,115.030479,136.858720
MAB_ELE_PRO276,219.0,107.499126,11.861942,74.332913,100.560897,108.992290,115.735786,130.869962
MAB_ELE_SHP276,219.0,114.898377,17.091571,71.787161,103.149778,117.428836,127.112220,151.297092
MAB_ELE_PRO380,219.0,105.228363,23.509638,34.213427,94.335162,105.088474,117.031701,153.940791
MAB_ELE_SHP380,219.0,105.735378,19.948183,45.191710,95.985839,107.695805,119.836360,153.645142
MAB_ELE_PRO392,219.0,111.948146,15.489336,67.531940,103.740049,111.683015,121.402653,153.898678
MAB_ELE_SHP392,219.0,112.670602,16.891947,64.372344,103.453182,112.597293,121.498141,159.495942
MAB_ELE_PRO756,218.0,97.834543,8.241523,77.801503,92.410183,97.573131,103.877063,116.674608
MAB_ELE_SHP756,218.0,94.784942,9.153899,74.639253,88.221030,94.376831,100.736473,115.321078
MAB_ELE_PRO826,219.0,108.752949,12.096725,61.048022,100.498418,108.911029,118.001772,137.682590
MAB_ELE_SHP826,201.0,95.957072,12.946170,57.462935,86.199717,97.868918,105.269576,126.338522
MAB_ELE_PRO840,219.0,109.418255,7.891270,85.994448,104.599964,110.153555,114.585399,126.650773
MAB_ELE_SHP840,218.0,114.160028,14.633380,79.240230,104.596526,115.713379,123.419976,165.926217
MAB_ELE_PRO1100,219.0,108.779990,11.839462,69.786633,101.729625,110.383833,115.832526,134.216163
MAB_ELE_SHP1100,219.0,110.551132,15.727859,71.158884,98.588003,111.954128,121.613878,158.055622
RohiBASEMET1000_org,219.0,89.733341,20.810149,50.822012,76.590541,88.390354,104.378371,149.890871
RohiENERGY1000_org,219.0,92.558006,30.615367,31.632310,69.928272,86.284861,120.720356,173.483562
RohiMETMIN1000_org,219.0,86.064857,21.410779,46.468392,71.956926,85.070217,100.795709,141.283339
RohiNATGAS1000_org,219.0,103.367773,41.747371,33.992282,72.594822,100.285408,119.173439,271.079906
RohCRUDE_PETRO1000_org,219.0,89.446520,30.736831,26.623391,66.703971,82.434999,116.413879,168.046416
RohCOPPER1000_org,219.0,86.344288,23.811521,35.657380,72.382210,88.986014,101.730879,135.782207
WKLWEUR840_org,219.0,1.253503,0.120190,1.054300,1.143950,1.240000,1.335950,1.577000
PRI27840_org,219.0,102.185734,10.524079,78.969864,97.338623,103.883636,105.592884,137.531616
PRI27826_org,201.0,100.151243,10.549411,80.552711,91.811668,102.251793,109.928352,116.581375
PRI27380_org,219.0,102.164957,4.454948,93.020027,99.054886,103.320900,104.881638,118.408043
PRI27250_org,184.0,101.969436,2.646863,96.864647,100.229416,102.268677,103.084373,113.280655
PRI27276_org,219.0,103.173606,6.076401,93.230453,98.702209,103.437393,107.120308,121.220627
PRI27156_org,196.0,97.681389,3.235886,90.292319,95.072836,97.853017,99.859473,104.549877
PRO28840_org,219.0,108.668835,9.132414,83.197311,102.844543,109.303719,114.991486,131.229752
PRO281000_org,219.0,112.466417,12.411183,74.760971,104.833572,113.616623,120.587734,149.375229
PRO28756_org,218.0,99.717112,10.467987,77.952571,92.979573,98.051186,105.001174,135.336934
PRO28826_org,219.0,104.384938,13.222741,51.716208,94.591602,105.374329,114.061835,133.378758
PRO28380_org,219.0,109.486312,22.491001,33.797184,99.741688,112.490631,123.489712,154.087173
PRO28392_org,219.0,115.083174,17.408257,64.082432,105.415525,115.092228,125.680601,160.954233
PRO28250_org,219.0,109.116660,21.050102,54.416245,96.598988,106.395935,120.558380,167.005081
PRO28276_org,219.0,110.429205,14.351658,71.617737,102.014969,111.341393,120.207260,147.265411
PRO27840_org,219.0,110.902904,8.444573,91.535751,106.617188,109.156631,116.481281,129.713318
PRO271000_org,208.0,111.147070,12.321223,83.310173,102.798376,110.284397,117.551489,152.452942
PRO27756_org,218.0,94.592852,13.465043,56.832151,90.283688,97.620173,103.238771,117.541371
PRO27826_org,219.0,116.667327,13.205283,77.956292,107.414430,116.994312,125.975452,154.834847
PRO27380_org,219.0,95.450517,29.195353,34.487114,79.168774,88.377968,110.472462,164.855988
PRO27392_org,219.0,105.555794,12.592527,74.565520,97.547726,104.366326,112.485105,141.977523
PRO27250_org,219.0,96.844134,16.857775,44.829357,84.770638,95.823845,108.154121,141.269730
PRO27276_org,219.0,102.125494,9.959946,76.424583,95.659645,103.549629,108.861191,121.495483

In [11]:
df_sales = pd.read_csv('Data/Case2_Sales data.csv', delimiter=';')
df_sales.head()

         DATE Mapped_GCK Sales_EUR
0  01.10.2018         #1         0
1  02.10.2018         #1         0
2  03.10.2018         #1         0
3  04.10.2018         #1         0
4  05.10.2018         #1         0

In [12]:
df_sales.tail()

            DATE Mapped_GCK Sales_EUR
9797  23.08.2019        #12         0
9798  23.08.2019        #36      1015
9799  12.08.2019        #12         0
9800  28.08.2019         #8  43763,91
9801  27.08.2019         #8         0

In [13]:
df_sales.shape

(9802, 3)

In [14]:
df_sales.describe()

              DATE Mapped_GCK Sales_EUR
count         9802       9802      9802
unique        1216         14      2609
top     16.04.2021         #1         0
freq            14       1179      7134

In [15]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9802 entries, 0 to 9801
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DATE        9802 non-null   object
 1   Mapped_GCK  9802 non-null   object
 2   Sales_EUR   9802 non-null   object
dtypes: object(3)
memory usage: 229.9+ KB

#### <span style="background-color:#235987; padding:5px; border-radius:5px;">**Sales Data**</span> <a id='sales-data'></a>  
_This section provides a compreensive understanding of the Sales data and its preprocessing steps._

##### Click [here](#table-of-contents) ‚¨ÜÔ∏è to return to the Index.

> Dtypes

In [16]:
# Fixing dtypes of df_sales
df_sales['DATE'] = pd.to_datetime(df_sales['DATE'], dayfirst=True)
df_sales['Sales_EUR'] = df_sales['Sales_EUR'].str.replace(',', '.').astype(float)

# DroppinG the # in values of the column 'Mapped_GCK'
df_sales['Mapped_GCK'] = df_sales['Mapped_GCK'].str.replace('#', '')
df_sales['Mapped_GCK'] = df_sales['Mapped_GCK'].astype(int)

In [17]:
# Mapped_GCK categories by frequecy
df_sales['Mapped_GCK'].value_counts()

Mapped_GCK
1     1179
3     1017
5      959
8      944
4      877
12     803
6      794
16     765
11     732
13     441
36     434
9      333
20     293
14     231
Name: count, dtype: int64

In [18]:
# Drop rows in df_sales with Sales_EUR = 0
df_sales = df_sales[df_sales['Sales_EUR'] != 0]

In [19]:
# Rows with values for Sales
df_sales.shape[0]

2668

In [20]:
# Max and min values of Sales
df_sales['Sales_EUR'].max(), df_sales['Sales_EUR'].min()

(41127988.02, -506381.17)

In [21]:
negative_sales = df_sales[df_sales['Sales_EUR'] < 0]
negative_sales

           DATE  Mapped_GCK  Sales_EUR
90   2022-02-02           6     -54.00
96   2022-04-04          11    -587.59
102  2021-12-02           3    -183.50
130  2022-03-02           6     -93.88
155  2021-05-03           5    -166.24
...         ...         ...        ...
9333 2019-09-03          20      -6.60
9466 2018-11-05           4   -2029.91
9487 2019-04-30          13     -26.31
9681 2020-07-31           9     -35.25
9775 2019-03-26           8   -1000.00

[276 rows x 3 columns]

In [22]:
negative_sales['Mapped_GCK'].value_counts()

Mapped_GCK
3     56
1     51
5     43
4     40
8     19
9     11
6     10
12    10
36     8
11     7
14     7
16     6
20     5
13     3
Name: count, dtype: int64

In [23]:
negative_sales['Year_Month'] = negative_sales['DATE'].dt.to_period('M')
grouped_negative_sales = negative_sales.groupby('Year_Month')['Sales_EUR'].sum().reset_index()

grouped_negative_sales

C:\Users\marga\AppData\Local\Temp\ipykernel_31388\2618404312.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  negative_sales['Year_Month'] = negative_sales['DATE'].dt.to_period('M')

   Year_Month  Sales_EUR
0     2018-11  -10326.08
1     2018-12 -269525.63
2     2019-01 -150764.52
3     2019-02  -80067.08
4     2019-03 -542921.01
5     2019-04 -268913.78
6     2019-05 -101034.64
7     2019-06 -152573.50
8     2019-07 -144452.91
9     2019-08 -206842.92
10    2019-09 -316458.06
11    2019-10 -483286.83
12    2019-11  -80639.71
13    2019-12 -528080.53
14    2020-01 -846743.67
15    2020-02 -124393.28
16    2020-03 -273290.91
17    2020-04 -102470.69
18    2020-05  -11393.50
19    2020-06  -87616.22
20    2020-07  -42620.51
21    2020-08  -21114.42
22    2020-09    -280.90
23    2020-10  -37479.64
24    2020-11 -517737.65
25    2020-12  -35591.68
26    2021-01   -2942.36
27    2021-02  -10794.12
28    2021-03  -49612.08
29    2021-04 -406769.36
30    2021-05  -62606.71
31    2021-06  -10410.22
32    2021-07  -26530.96
33    2021-08  -45969.16
34    2021-09 -384558.63
35    2021-10 -338614.71
36    2021-11 -122317.03
37    2021-12 -144557.16
38    2022-01 -260462.89
39    2022-02 -112345.09
40    2022-03   -7713.52
41    2022-04 -184288.16

In [24]:
negative_sales['Day'] = negative_sales['DATE'].dt.day
grouped_by_day = negative_sales.groupby('Day')['Sales_EUR'].sum().reset_index()

grouped_by_day

C:\Users\marga\AppData\Local\Temp\ipykernel_31388\1785062538.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  negative_sales['Day'] = negative_sales['DATE'].dt.day

    Day   Sales_EUR
0     1  -436191.65
1     2 -1759335.08
2     3 -1515505.42
3     4 -1311725.85
4     5   -17474.38
5     6  -501377.09
6     7  -161155.43
7     8  -205887.59
8     9    -7992.17
9    10    -6829.04
10   11   -52131.40
11   12   -82682.42
12   13   -16785.28
13   14   -43472.66
14   15     -558.80
15   16    -2425.80
16   17  -382080.44
17   18    -3287.00
18   19    -3793.66
19   20  -282905.50
20   21   -68454.20
21   22  -475987.87
22   23   -27202.79
23   24   -85388.39
24   25   -46398.00
25   26   -24700.74
26   27   -50662.60
27   28   -12005.21
28   29    -1221.14
29   30   -21397.29
30   31      -97.54

In [25]:
grouped_by_products= negative_sales.groupby('Mapped_GCK')['Sales_EUR'].sum().reset_index()

grouped_by_products

    Mapped_GCK   Sales_EUR
0            1 -2555108.71
1            3 -1203233.00
2            4  -114909.56
3            5 -2376417.57
4            6  -421276.71
5            8   -76369.76
6            9   -10374.71
7           11  -518733.38
8           12   -15487.76
9           13     -193.10
10          14   -13143.55
11          16  -288439.22
12          20      -39.63
13          36   -13385.77

Add per product per sales

Chart with flow, with returns

**Negative values for Sales** 
There seems to be no evident pattern for the negative sales values. These might be:
- **Dataset errors**: errors that occured during the recording of sales records
- **Rules related to recordings**: companies come up with their own rules to record records, some of which may cause these negative values, e.g. take discounts as negative income.
- **Returns**: customer returns are associated with a refund, creating a negative cash flow for the company to offset the positive cash flow generated at the time of purchase.

> Visualization functions

> Sales distribution