<p align="center">
  <img src="header.jpg" width="100%">
</p>


<div style="text-align: center;">
    <strong style="display: block; margin-bottom: 10px;">Group P</strong> 
    <table style="margin: 0 auto; border-collapse: collapse; border: 1px solid black;">
        <tr>
            <th style="border: 1px solid white; padding: 8px;">Name</th>
            <th style="border: 1px solid white; padding: 8px;">Student ID</th>
        </tr>
        <tr>
            <td style="border: 1px solid white; padding: 8px;">Beatriz Monteiro</td>
            <td style="border: 1px solid white; padding: 8px;">20240591</td>
        </tr>
        <tr>
            <td style="border: 1px solid white; padding: 8px;">Catarina Nunes</td>
            <td style="border: 1px solid white; padding: 8px;">20230083</td>
        </tr>
        <tr>
            <td style="border: 1px solid white; padding: 8px;">Margarida Raposo</td>
            <td style="border: 1px solid white; padding: 8px;">20241020</td>
        </tr>
        <tr>
            <td style="border: 1px solid white; padding: 8px;">Teresa Menezes</td>
            <td style="border: 1px solid white; padding: 8px;">20240333</td>
        </tr>
    </table>
</div>

### üîó Table of Contents <a id='table-of-contents'></a>
1. [Introduction](#introduction)  
2. [Business Understanding](#business-understanding)  
3. [Data Understanding](#data-understanding)  
4. [Data Preparation](#data-preparation)  
5. [Modeling](#modeling)  
6. [Evaluation](#evaluation)  
7. [Conclusion](#conclusion)  

---

### <span style="background-color:#235987; padding:5px; border-radius:5px;"> üìå Introduction <a id='introduction'></a>

This project follows the **CRISP-DM** methodology to conduct a monthly sales forecast of the smart infrastructure business unit of Siemens. 


#### Montlhy Sales Forecast

<p style="margin-bottom: 50px;"> This case study focuses on ... </p>

**Market Data** 

| Features                                      | Feature Description |
|-----------------------------------------------|---------------------|
| *date*                                       |  |
| *China_Production*                            |  |
| *China_Shipment*                              |  |
| *France_Production*                           |  |
| *France_Shipment*                             |  |
| *Germany_Production*                          |  |
| *Germany_Shipment*                            |  |
| *Italy_Production*                            |  |
| *Italy_Shipment*                              |  |
| *Japan_Production*                            |  |
| *Japan_Shipment*                              |  |
| *Switzerland_Production*                      |  |
| *Switzerland_Shipment*                        |  |
| *UK_Production*                               |  |
| *UK_Shipment*                                 |  |
| *US_Production*                               |  |
| *US_Shipment*                                 |  |
| *Europe_Production*                           |  |
| *Europe_Shipment*                             |  |
| *Base_Metal_Price*                            |  |
| *Energy_Price*                                |  |
| *Metal_and_Minerals_Price*                    |  |
| *Natural_Gas_Price*                           |  |
| *Crude_oil_avg_Price*                         |  |
| *Copper_price*                                |  |
| *LCU_EUR*                                     |  |
| *US_Producer_Price_Electrical_equip*          |  |
| *UK_Producer_Price_Electrical_equip*          |  |
| *Italy_Producer_Price_Electrical_equip*       |  |
| *France_Producer_Price_Electrical_equip*      |  |
| *Germany_Producer_Price_Electrical_equip*     |  |
| *China_Producer_Price_Electrical_equip*       |  |
| *US_Production_Index_Machinery_and_equipment* |  |
| *World_Production_Index_Machinery_and_equip*  |  |
| *Switzerland_Production_Index_Machinery_and_equip* |  |
| *UK_Production_Index_Machinery_and_equip*     |  |
| *Italy_Production_Index_Machinery_and_equip*  |  |
| *Japan_Production_Index_Machinery_and_equip*  |  |
| *France_Production_Index_Machinery_and_equip* |  |
| *Germany_Production_Index_Machinery_and_equip* |  |
| *US_Production_Index_Electrical_equip*        |  |
| *World_Production_Index_Electrical_equip*     |  |
| *Switzerland_Production_Index_Electrical_equip* |  |
| *UK_Production_Index_Electrical_equip*        |  |
| *Italy_Production_Index_Electrical_equip*     |  |
| *Japan_Production_Index_Electrical_equip*     |  |
| *France_Production_Index_Electrical_equip*    |  |
| *Germany_Production_Index_Electrical_equip*   |  |


**Sales Data**
| Features                                      | Feature Description |
|-----------------------------------------------|---------------------|
| *DATE*                                       |   |
| *Mapped_GCK*                                 |   |
| *Sales_EUR*                                  |   |

<b style="background-color:#A9A9A9; padding:5px; border-radius:5px; display: inline-block; margin-top: 50px;">CRISP-DM</b>

<ul style="margin-bottom: 30px;">
    <li><u>Business Understanding</u>: Defining objectives, assessing resources, and project planning.</li>
    <li><u>Data Understanding</u>: Collecting, exploring, and verifying data quality.</li>
    <li><u>Data Preparation</u>: Selecting, cleaning, constructing, integrating, and formatting data to ensure it is ready for analysis.</li>
    <li><u>Modeling</u>: Selecting and applying various modeling techniques while calibrating their parameters to optimal values.</li>
    <li><u>Evaluation</u>: Select the models which are the best performers and evaluate thoroughly if they align with the business objectives. </li>
    <li><u>Deployment</u>: Bridge between data mining goals and the business application of the finalized model.</li>
</ul>

<hr style="margin-top: 30px;">

In [2]:
import pandas as pd
import numpy as np

import seaborn as sns

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
#compose a pallete to use in the vizualizations
pal_novaims = ['#003B5C','#003B5C','#003B5C','#003B5C','#003B5C']
pastel_color = sns.utils.set_hls_values(pal_novaims[1], l=0.4, s=0.3)

### <span style="background-color:#235987; padding:5px; border-radius:5px;"> üìå Business Understanding <a id='business-understanding'></a>

##### Click [here](#table-of-contents) ‚¨ÜÔ∏è to return to the Index.
---

The **Business Understanding** phase of the project entails the comprehension of the background leading to the project, as well as the business goals and requirements to be achieved. 

<b style="background-color:#A9A9A9; padding:5px; border-radius:5px;">Primary Business Objective</b> : 


<b style="background-color:#A9A9A9; padding:5px; border-radius:5px;">Plan</b> :

### <span style="background-color:#235987; padding:5px; border-radius:5px;"> üìå Data Understanding</span> <a id='data-understanding'></a>

- **[Data Loading and Description](#data-loading-and-description)**  
- **[Data Types](#Data-TypesDU)**
- **[Univariate EDA: Descriptive Summary](#Descriptive-Summary)**
- **[Univariate EDA: Missing values](#missing-valuesDU)**  
- **[Inconsistencies](#inconsistenciesDU)**  
- **[Feature Engineering](#feature-engineeringDU)**  
- **[Univariate EDA: Data Visualization](#univariate-vizualization)**  
    - **Numerical Variables:**  
        - [Numeric variables: Histograms](#hist)
        - [Outliers Analysis: Box-Plots](#box)
    - **Categorical Variables**  
        - [Categorical variables: Bar Plots](#bar)
        - [Categorical variables: Geographic Map](#GeographicMap)
- **[Bivariate EDA: Data Visualization](#Bivariate-Vizualization)**  
   - [Numeric-Numeric: Correlations](#NNCorrelations)
   - [Numeric-Categorical: Correlations](#NCCorrelations)
   - [Categorical-Categorical: Cross-tabulations](#CCCross-tabulations)
- **[Multivariate EDA: Duplicates](#Multivariate)**


##### Click [here](#table-of-contents) ‚¨ÜÔ∏è to return to the Index.
---

#### <span style="background-color:#235987; padding:5px; border-radius:5px;">**Data Loading and Description**</span> <a id='data-loading-and-description'></a>  
_This section provides an overview of the dataset, including its structure, size, and general characteristics._  

##### Click [here](#table-of-contents) ‚¨ÜÔ∏è to return to the Index.

In [5]:
df_market = pd.read_excel('Data/Case2_Market data.xlsx', sheet_name="Adapted Features")
df_market.head()

,date,China_Production,China_Shipment,France_Production,France_Shipment,Germany_Production,Germany_Shipment,Italy_Production,Italy_Shipment,Japan_Production,Japan_Shipment,Switzerland_Production,Switzerland_Shipment,UK_Production,UK_Shipment,US_Production,US_Shipment,Europe_Production,Europe_Shipment,Base_Metal_Price,Energy_Price,Metal_and_Minerals_Price,Natural_Gas_Price,Crude_oil_avg_Price,Copper_price,LCU_EUR,US_Producer_Price_Electrical_equip,UK_Producer_Price_Electrical_equip,Italy_Producer_Price_Electrical_equip,France_Producer_Price_Electrical_equip,Germany_Producer_Price_Electrical_equip,China_Producer_Price_Electrical_equip,US_Production_Index_Machinery_and_equip,World_Production_Index_Machinery_and_equip,Switzerland_Production_Index_Machinery_and_equip,UK_Production_Index_Machinery_and_equip,Italy_Production_Index_Machinery_and_equip,Japan_Production_Index_Machinery_and_equip,France_Production_Index_Machinery_and_equip,Germany_Production_Index_Machinery_and_equip,US_Production_Index_Electrical_equip,World_Production_Index_Electrical_equip,Switzerland_Production_Index_Electrical_equip,UK_Production_Index_Electrical_equip,Italy_Production_Index_Electrical_equip,Japan_Production_Index_Electrical_equip,France_Production_Index_Electrical_equip,Germany_Production_Index_Electrical_equip
0,2004m2,16.940704,16.940704,112.091273,83.458866,82.623037,79.452532,124.289603,86.560493,109.334010,110.495272,91.221862,89.987275,111.353812,73.601265,107.601400,79.240230,97.122911,80.098530,54.039811,44.123338,48.747945,87.076974,39.639458,36.623832,1.2646,78.969864,80.757423,93.020027,NaN,93.230453,NaN,102.491722,97.597374,97.100000,106.191977,116.790276,110.890034,118.274109,80.829010,117.723991,NaN,81.100000,120.706516,141.510864,106.161262,102.077057,85.913200
1,2004m3,23.711852,23.711852,136.327976,106.168192,100.556582,97.012918,143.411662,106.344544,140.884616,144.686166,85.866287,79.883583,127.558608,84.047595,110.187364,98.619024,113.783904,96.015929,54.666162,47.588957,49.256157,87.192705,42.592034,39.931055,1.2262,79.673569,80.962135,93.540268,NaN,93.335678,NaN,105.627480,113.224892,91.195116,121.625075,139.288391,141.176853,148.121841,102.130104,119.220779,NaN,76.690307,138.309550,152.880234,140.288741,117.225685,97.670815
2,2004m4,24.435235,24.435235,117.791806,92.007646,89.653203,84.932358,129.083828,95.579673,105.853579,102.655769,85.622508,79.740802,108.732297,73.026027,108.166564,89.774031,101.715199,85.167236,54.872715,47.779013,49.423751,91.379923,42.650637,39.134854,1.1985,80.337639,80.757423,93.852425,NaN,93.440903,NaN,103.484955,100.169090,93.793535,104.965505,125.289566,105.648765,125.482231,90.961426,117.441124,NaN,71.552403,115.557330,137.796875,106.271197,105.335777,87.253983
3,2004m5,23.708115,23.708115,109.002541,85.696486,86.880571,82.372794,135.590391,100.087039,101.864777,100.305285,85.378729,79.598021,110.645200,74.591883,108.425887,87.463813,101.275727,84.485767,51.230356,53.590898,46.468392,99.044520,47.517121,36.278433,1.2007,80.798828,80.757423,93.852425,NaN,93.546127,NaN,103.643944,99.581436,96.391954,105.885359,131.988998,101.990361,116.649750,88.082901,117.899216,NaN,66.414500,119.269534,143.860535,101.608710,96.616508,84.675552
4,2004m6,27.009138,27.009138,133.785737,106.641482,99.010814,95.108740,136.424935,110.889719,120.332920,119.616380,85.134950,79.455239,122.020960,82.343346,110.569933,97.364496,112.057197,96.963294,52.876331,50.799575,47.803913,98.636267,44.967605,35.657380,1.2138,80.913490,80.552711,93.956467,NaN,93.440903,NaN,106.062668,109.277710,98.990373,118.252278,132.988922,122.136575,143.248734,100.978699,119.499107,NaN,61.276596,128.849416,144.315308,116.655248,118.458710,95.401802

Now, we want to set the column date as the index in the dataframe df_market, as this column is supposed to identify an individual time period. However, first, to ensure we don't lose any important rows due to identifier mistakes, we will check if this column only contains unique values:

In [8]:
unique_reservations = df_market['date'].nunique()
total_rows = len(df_market)

print(f"The date column has {unique_reservations}"
      f" unique values,\nand the dataframe df_market has {total_rows} rows.")
if unique_reservations == total_rows:
    print("All date values are unique.")
else:
    print("There are duplicate date values.")

The date column has 219 unique values,
and the dataframe df_market has 219 rows.
All date values are unique.

In [9]:
df_market.set_index('date', inplace = True)

In [10]:
df_market.shape

(219, 47)

In [11]:
df_sales = pd.read_csv('Data/Case2_Sales data.csv', delimiter=';')
df_sales.head()

         DATE Mapped_GCK Sales_EUR
0  01.10.2018         #1         0
1  02.10.2018         #1         0
2  03.10.2018         #1         0
3  04.10.2018         #1         0
4  05.10.2018         #1         0

Now, we want to set the column DATE as the index in the dataframe df_sales, as this column is supposed to identify an individual time period. However, first, to ensure we don't lose any important rows due to identifier mistakes, we will check if this column only contains unique values:

In [12]:
unique_reservations = df_sales['DATE'].nunique()
total_rows = len(df_sales)

print(f"The DATE column has {unique_reservations}"
      f" unique values,\nand the dataframe df_sales has {total_rows} rows.")
if unique_reservations == total_rows:
    print("All DATE values are unique.")
else:
    print("There are duplicate DATE values.")

The DATE column has 1216 unique values,
and the dataframe df_sales has 9802 rows.
There are duplicate DATE values.

In [15]:
df_sales[df_sales.duplicated(subset=['DATE'], keep=False)]

            DATE Mapped_GCK Sales_EUR
0     01.10.2018         #1         0
1     02.10.2018         #1         0
3     04.10.2018         #1         0
4     05.10.2018         #1         0
6     08.10.2018         #1         0
...          ...        ...       ...
9797  23.08.2019        #12         0
9798  23.08.2019        #36      1015
9799  12.08.2019        #12         0
9800  28.08.2019         #8  43763,91
9801  27.08.2019         #8         0

[9660 rows x 3 columns]

In this case we can't use DATE as an index.

In [16]:
df_sales.shape

(9802, 3)